table.lyrics {
  border: 0px;
  width: 100%;
  font-size: 15px;
  font-family: Verdana;
}

table.lyrics th,
table.lyrics td {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #F7F8F7;
}

table.lyrics td.name {
  text-align: right;
  width: 35%;
  vertical-align: top;
}

table.lyrics td.timestamp {
  padding-top: 7px;
  padding-bottom: 7px;
}

table.lyrics .midori {
  color: #00533f;
}

table.lyrics .tetora {
  color: #302833;
}

table.lyrics .shinobu {
  color: #cf7e37;
}

table.lyrics .chiaki {
  color: #e60033;
}

table.lyrics .kanata {
  color: #008db7;
}

table.lyrics .timestamp {
  color: #828282;
}

.darkmode--activated table.lyrics td {
  background-color: #333333;
}

.darkmode--activated table.lyrics .tetora {
  color: #B2B2B2;
}

.darkmode--activated table.lyrics .midori {
  color: #0D9C79;
}